<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shikuimapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxef6e2ba2099bf1fd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixinULAPI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxef6e2ba2099bf1fd</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Partner</key>
	<string>2088001053772698</string>
	<key>RSA private key</key>
	<string>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALRwsauY82orHp4HSRKhk7RHAq/Ats2YYkbwNTKkLFNt1n39vLn92ejohXw6+tvrZogrsvDvpIM6K/5sXLvJfMvIulXeXfkioauYNZiVPFOzp0ncazhRZBpKNyUfa5EVI47G6uWsWIkhwOnEezpSR2jJyZ9T8NBPc8QgcABVEW7hAgMBAAECgYEAs48lrw5wxGkOedHkLK8vrgmwKbeL8kI/IjqtpaxsE8XM2enjoe50p+qj00FaG/lAOifKVSsUuiXsW634BkN2dCRXj5z1JvBNXzXTDWCN7qKadVT/rdel+qUr6pysXTcwmKz46hd2x6lGc1lrDOW77BxHataJV51WcQdDphXhjLECQQDeQaxpC05fuhw2Zwga2CBob3MQhr869mAUvcI3OsVbogCFSflmy6lNoMZ7Ls+e4k/K35CniNwWqealRG2g0SIFAkEAz9XEhYcYMdB0E5XUlKWbm6r+Wrpy4V3JDNEpgBESTeaoX5qvb10bLgcNZyk6iZgw0WXPxBBAyYQnP2Jlq5rkLQJBAIbbCFbQYmSZE0c7KuLG4psbjJCpgdyv40qSfQZv5ZIc8P3vDaH+zyJn/CaAF8ALB2lMT4Qn+YrS2jzLEU2zt1UCQHYYOpXBAL91ei+SyHs6auQWUndNUG+8cbxFsXYivSrksLG6XItD9Wi++x+uLqP2hW7GkjsPHTEkVYTPrYPH/HUCQDgDWTXn9Y/bz1qAHw0EqAG1UDFaLSl8sMMRHKUD+lHY5LmwefDQ697/y3E87mTFJunYou_urb9667SnoUecY+7Qs1Z/rM=</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCYMaBXqMSxEfaKrMmdi3jj6Gek7fhWWg4veuoyHexzcNtE44pFBHOfJzam9sMrK5fXUil2awyZV7+xkJ/KLG30GmM8IPTn6sbwAKTMxnsCgs/S//FMzZr8mrcIfa117ykyv5Thqfr9qatXmmUVSUYXb3YhrTG5DDMijR80aXVj6wIDAQAB</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
