<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>北极熊用户个人信息保护及隐私政策协议
   导言：
     欢迎您使用聊信聊天软件及服务！
                 
     为使用“聊信免费聊天”平台（以下称为“本平台”）提供的聊信免聊天软件及服务（以下简称“本软件”、“聊信免费聊天”或“本服务”），您应当阅读并遵守《聊信免费聊天用户服务协议》（以下简称“本协议”）以及聊信免费聊天服务的各项制度规范等。
          
     请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款已以加粗形式提示您注意。 除非您已阅读并接受本协议所有条款，否则您无权使用本软件及相关服务。您的下载、安装、使用、获取账号、登录等行为（以下统称为“使用”）即视为您已阅读并同意上述协议的约束。
     您有违反本协议的任何行为时，本平台有权依照违反情况，随时单方限制、中止或终止向您提供本服务，并有权追究您的相关责任。
           
     如果您未满18周岁，请在监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。
    本平台同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务(以下称“网络服务”)。为获得本服务，用户同意本协议的全部条款并通过运营商正规渠道获取的手机号码进行账号注册。注册过程中需进行短信验证并绑定一个有效的手机号码，点击“登录”按钮即表示用户已经详细阅读了本协议的内容，同意遵守本协议的约定。用户不应再以不了解本协议内容为由拒绝履行本协议。 本平台有权对本协议随时进行修改与更新，并在相关官方网站公告新协议内容。 修改后的服务协议一旦在页面上公布即有效代替原来的服务协议。请用户随时造访本软件内“账号登录”界面以及“关于我们”页面查看本协议的最新版本。用户在使用本平台提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议及/或随时对其的修改，用户可以主动取消本平台提供的网络服务。
          
  1.信息内容规范 .1本条所述信息内容是指用户使用本服务过程中所制作、复制、发布、传播的任何内容，包括但不限于eBay免费聊天登录账号头像、名字、用户说明等注册信息，以及其他使用聊信免费聊天登录账号或本软件及服务所产生的内容。
     1.2您理解并同意，本平台一直致力于为用户提供文明健康、规范有序的网络环境，您不得利用本软件制作、复制、发布、传播如下干扰本服务正常运营，以及侵犯其他用户或第三方合法权益的内容，包括但不限于：
    1.2.1发布、传送、传播、储存违反国家法律法规禁止的内容：
           （1）违反宪法确定的基本原则的；
           （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
           （3）损害国家荣誉和利益的；
           （4）煽动民族仇恨、民族歧视，破坏民族团结的；
           （5）破坏国家宗教政策，宣扬邪教和封建迷信的；
           （6）散布谣言，扰乱社会秩序，破坏社会稳定的；
           （7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
           （8）侮辱或者诽谤他人，侵害他人合法权益的；
           （9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；
           （10）以非法民间组织名义活动的；
           （11）含有法律、行政法规禁止的其他内容的。
     1.2.2发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；
     1.2.3未经他人许可发布、传送、传播涉及他人隐私、个人信息或资料的内容；
     1.2.4发表、传送、传播骚扰、广告信息及垃圾信息或含有任何性或性暗示的；
     1.2.5其他违反法律法规、政策及公序良俗、社会公德或干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。

  2.软件使用规范
       2.1除非法律允许或本平台书面许可，您使用本软件过程中不得从事下列行为：
        1）删除本软件及其副本上关于著作权的信息；
       （2）对本平台拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；
       （3）修改或遮盖网络服务或相关产品程序、图像、动画、包装和手册等内容上的产品名称、公司标志、版权信息等内容；
        4）公开展示和播放本产品的全部或部分内容；
        5）对网络服务或相关产品的程序、图像、动画和音乐进行还原、反编译、反汇编、剪辑、翻译和改编等任何修改行为；
       （6）对网络服务或相关产品进行反向工程（Reverse Engineering）、反向编译（Decompile）或反汇编（Disassemble）等任何技术性的与合理使用网络服务无关的行为或者以其他方式尝试发现本软件的源代码；
       （7）对本软件或者本软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非本平台经授权的第三方工具/服务接入本软件和相关系统；
         8）通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；
        （9）通过非本平台开发、授权的第三方软件、插件、外挂、系统，登录或使用本平台软件及服务，或制作、发布、传播上述工具；
       （10）以本网络服务作为营业使用；
         11）自行或者授权他人、第三方软件对本软件及其组件、模块、数据进行干扰；
        （12）其他未经本平台明示授权或违反著作权法、计算机软件保护条例和相关法规的行为。
  3.运营规范
          3.1您使用本服务过程中不得从事下列行为：
          （1）提交、发布虚假信息，或冒充、利用他人名义的；
           2）诱导其他用户点击链接页面或分享信息的；
           3）虚构事实、隐瞒真相以误导、欺骗他人的；
           4）侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；
           5）未经本平台书面许可利用账号和任何服务，以及第三方运营平台进行推广或互相推广的；
           6）利用本软件及服务从事任何违法犯罪活动的；
           7）制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；
           8）其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或本平台未明示授权的行为。
                对自己行为负责
  4.1您充分了解并同意，您必须为自己账号在本软件下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对本软件中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险；同时，您应在本协议约定的范围内使用本服务，因您利用本软件进行违反法律法规、本协议、专项规则的行为所产生的风险亦由您自行承担。本平台无法且不会对因前述风险而导致的任何损失或损害承担责任。
           
  八、管理规范
              
         1.本平台有权根据国家相关法规政策，按照本协议的规定，对您发布、传送、传播、储存的内容进行审查，以保证用户使用本服务的行为不违反法律法规及社会公共道德准则、不侵犯本平台或第三方的合法权益、不带有诋毁本平台及聊信产品形象的要素。但并不因为本平台的审核而减轻您自身使用本服务时应承担的责任，由此产生的一切责任和后果仍由您自行承担。
          2.如果本平台发现或收到他人举报或投诉用户违反本协议约定或损害本平台权益的，本平台有权不经通知随时对相关内容进行删除、屏蔽，并视行为情节对违规账号处以包括但不限于警告、限制或禁止使用部分或全部服务、账号封禁等的处罚，并公告处理结果。
          3.您理解并同意，本平台有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。
          4.您理解并同意，因您违反本协议或相关服务条款的规定，导致或产生第三方主张的任何索赔、要求或损失，您应当独立承担责任；本平台因此遭受损失的，您也应当一并赔偿。</string>
		<key>item_ID</key>
		<string>1</string>
	</dict>
</array>
</plist>
